empty series

In [1]:
import pandas as pd

In [2]:
pd.Series()

<ipython-input-2-fa15c544da3b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

series using array

In [6]:
import numpy as np

In [9]:
a = np.array([10,20,30])
print(a)
print('')

pd.Series(a)

[10 20 30]

0    10
1    20
2    30
dtype: int32

series using lists

In [4]:
l = [10,20,30,40,50]

pd.Series(l)

0    10
1    20
2    30
3    40
4    50
dtype: int64

series using dictionary

In [12]:
d = {'a':10,'b':20,'c':30}

In [13]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
# list of tuples

lt = [('a',10),('b',20),('c',30)]

pd.Series(lt)

0    (a, 10)
1    (b, 20)
2    (c, 30)
dtype: object