# Control Structures

They controles the flow of control
* Sequencial - line by line
* Conditional - Based on conditions (returns Boolen) [if, if else, if elif else, nested if]
* Iterative/Loops - Group of statements executes repetitively.. based on condition [While, for]
* Jumping(will be used only in Loops) - [break, continue, pass]

# Sequencial Statements

In [9]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

c = a + b

print('Sum =', c)

Enter a: 10
Enter b: 20
Sum = 30

# Conditional Statements

1) Simple if
* if - True block
* else - False block

In [2]:
a = int(input())

if a >= 0:
    print('Positive number')

-9

2) if-else

In [4]:
a = int(input())

if a >= 0:
    print('Positive number')
else:
    print('negative number')

-9
negative number

3) if-elif-else

In [5]:
a = int(input('Enter a: '))
b = int(input('Enter b: '))

if a > b:
    print("a is grater than b")
elif a < b:
    print("a is smaller than b")
else:
    print('Both are equal')

Enter a: 5
Enter b: 10
a is smaller than b

4) Nested-if-else

In [6]:
a = int(input('Enter a: '))
b = int(input('Enter b: '))
c = int(input('Enter c: '))

if a > b:
    if a > c:
        print('a is big')
    else:
        print('c is big')
else:
    if b > c:
        print('b is big')
    else:
        print('c is big')

Enter a: 5
Enter b: 8
Enter c: 12
c is big

# Iterative / Looping Statements

Three important points we need to remember while working with loops..
* Loop variable initialize
* Condition (for terminating loop)
* Loop variable updation

While loop

In [13]:
temp = 1
while temp <= 10:
    print(temp)
    temp += 1
    #temp = temp + 1

1
2
3
4
5
6
7
8
9
10

In [17]:
rng = int(input('Enter range: '))
temp = 0

while temp <= rng:
    print(temp, end=' ')
    temp += 1

Enter range: 100
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

For Loop

We can execute for loop in two ways..
* Using sequence.
* Using range(start, stop, step)
              start -> starting value, 0 default, include (Loop variable)
              stop  -> End value, mandatory declaration required, exclude (Condition)
              step  -> difference, 1 default (Updation)

Using range

In [18]:
for i in range(0, 5, 1):
    print(i)

0
1
2
3
4

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
for i in range(1, 100, 5):
    print(i, end=' ')

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96

Using sequence

In [22]:
str = 'PYTHON'

for i in str:
    print(i)

P
Y
T
H
O
N

In [23]:
lst = [10, 20, 30, 40, 50]

for i in lst:
    print(i, end=' ')

10 20 30 40 50

Nested loops

* We will use nested loops to represend date in rows and columns

In [26]:
for i in range(5):
    for j in range(5):
        print('*', end=' ')
    print(' ')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# Jumping Statements

Break statement

In [29]:
for i in range(10):
    #print(i) # 7 will print
    if i == 7:
        break
    else:
        print(i) # 7 will not print

0
1
2
3
4
5
6

Continue statement

In [31]:
for i in range(10):
    if i == 4 or i == 5:
        continue
    else:
        print(i)

0
1
2
3
6
7
8
9

Pass statement

In [35]:
temp = 1
while temp < 10:
    if temp == 5:
        pass
    print(temp)
    temp += 1

1
2
3
4
5
6
7
8
9

In [36]:
for i in range(5):

SyntaxError: unexpected EOF while parsing (<ipython-input-36-aa82eeb25f1e>, line 1)

In [37]:
for i in range(5):
    pass

In [1]:
num = int(input('which table do you want: '))
rng = int(input('what range do you want: '))

for i in range(rng + 1):
    #out = num * i
    if i == 0:
        continue
    print(num,'x',i,'=',num*i)

which table do you want: 2
what range do you want: 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [2]:
num = int(input('Which table: '))
rng = int(input('how munc range: '))
temp = 0

while temp <= rng-1:
    temp += 1
    print(num,'x',temp,'=',num*temp)

Which table: 2
how munc range: 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20