# Tuple
* Tuples are immutable. They are comma superated valus enclosed in parentheses. They also accept multiple data types.
* If we want to make any changes in Tuples then we need to follow the steps
    
    ->First convert Tuple to List.
    
    ->Do manipulations(add, delete, reassign..).
    
    ->Convert back List to Tuple.

Creating Tuple

In [1]:
t = ()
print(type(t))

<class 'tuple'>

In [3]:
t = tuple()
print(type(t))

<class 'tuple'>

In [34]:
t = (10,20,30,40,50)
print(t)

t = (10, 20.5, 'abc')
print(t)

(10, 20, 30, 40, 50)
(10, 20.5, 'abc')

In [35]:
# for assigning single element in tuple
t=(20)
print(t)
print(type(t))

t=(20,)
print(t)
print(type(t))

20
<class 'int'>
(20,)
<class 'tuple'>

Accessing elements from Tuple

In [5]:
print(t[1])

20

In [6]:
print(t[::-1])

(50, 40, 30, 20, 10)

Slicing

In [7]:
print(t[1:3])

(20, 30)

Reassigning Tuple elements

In [8]:
t[2] = 25

TypeError: 'tuple' object does not support item assignment

In [11]:
print(t)
print(type(t))

l = list(t) #conversion
print(l)
print(type(l))

l[2] = 33 #manipulations
l.append(60)
print(l)

t = tuple(l) #conversion
print(t)
print(type(t))

(10, 20, 33, 40, 50)
<class 'tuple'>
[10, 20, 33, 40, 50]
<class 'list'>
[10, 20, 33, 40, 50, 60]
(10, 20, 33, 40, 50, 60)
<class 'tuple'>

Deleting elements

In [31]:
#go to Built-In Methon   del

Nested Tuples

In [33]:
t = ((10,20),(30,40))
print(t)
print(t[0])
print(t[1][0])

((10, 20), (30, 40))
(10, 20)
30

Basic Operations
[+, *, len, min, max, sum, membership, iterations]

In [12]:
t1 = (10,20,30)
t2 = (40,50,60)

In [13]:
t1 + t2 #new tuple will generate

(10, 20, 30, 40, 50, 60)

In [14]:
print(t1)
print(t2)

(10, 20, 30)
(40, 50, 60)

In [15]:
t1 * 3 #again new tuple will generate.

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [16]:
print(len(t))
print(min(t))
print(max(t))
print(sum(t))
print(10 in t)
print(100 in t)

6
10
60
213
True
False

In [17]:
for ele in t:
    print(ele)

10
20
33
40
50
60

In [19]:
for ele in range(len(t)):
    print(t[ele])

10
20
33
40
50
60

Built-In Methods[count, index]

In [21]:
t.count(10)

1

In [23]:
t.index(33)

2

In [30]:
del t[2]# deleting a element in tuple using index will not work

NameError: name 't' is not defined

In [28]:
t = ()
del t #complete tuple will get deleted

In [29]:
print(t)

NameError: name 't' is not defined