# Advantages of Pandas

* High performance Data Analysis Tool
* Working with large Data set
* Supports or Load files with different formats
* More Flexible
* Represents in Tabular way(Rows & Columns)
* Working on missing data
* Indexing-slicing-subsetting the large data sets
* Merge and join two different datasets easily
* Reshape data sets

# Data structures

Pandas use 3 data structures

* Series -> one dimensional -> it takes list as parameter
* Data frame -> two dimensional -> it takes list/dictionary/series/another dataframe as paramerer
* Panel -> multi dimensional

Series(data,index)

In [1]:
import pandas as pd

In [2]:
l = [10,20,30,50]

In [3]:
pd.Series(l)

0    10
1    20
2    30
3    50
dtype: int64

In [6]:
pd.Series(l,index=['i','ii','iii','iv'])

i      10
ii     20
iii    30
iv     50
dtype: int64

DataFrame(data)
* it is the most efficient data structure to do analysis

In [7]:
d = {'name':['sai','rohith','reddy'],'percentage':[90,85,89]}

In [8]:
pd.DataFrame(d)

     name  percentage
0     sai          90
1  rohith          85
2   reddy          89

Panal(data,major axis,minor axis, dtype)

* major axis -> columns
* minor axis -> rows